# Environment Configuration
PORT=3000

# Database Configuration
MONGO_URI=mongodb+srv://abinstitute8_db_user:k9gtrXVUuDDGOsRX@abinstitute.yzztfn1.mongodb.net/?appName=AbInstitute

# JWT Configuration
JWT_SECRET=your-super-secure-jwt-secret-key-here
JWT_EXPIRES_IN=24h

# Security Configuration
CORS_ORIGIN=http://localhost:8080,http://localhost:3000
NODE_ENV=development

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100



#razorpay
RAZORPAY_KEY_ID=rzp_test_S0slni0dws4fD2
RAZORPAY_KEY_SECRET=NnB2oco60J90M1m1r8nSO83G